<?xml version="1.0"?>
<!--
/**
 * Maison de Pierre - About Module Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Maison_About" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Cms"/>
            <module name="Magento_Store"/>
            <module name="Magento_Eav"/>
        </sequence>
    </module>
</config>

